<ion-header>
  <ion-toolbar>
    <ion-title>Hotel Management</ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      showCancelButton="focus"
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()"
      placeholder="Filter Rooms"
    ></ion-searchbar>
  </ion-toolbar>
  <div *ngIf="showAddForm">
    <form #roomForm="ngForm"  class="add-room-wrapper">
      <ion-grid class="add-grid">
        <ion-row>
          <ion-col>
          <ion-item>
            <ion-label position="floating">Room Name</ion-label>
            <ion-input type="number" [(ngModel)]="number" [ngModelOptions]="{standalone: true}" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Room Type</ion-label>
            <ion-input type="email" [(ngModel)]="roomType" [ngModelOptions]="{standalone: true}" required></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input type="text" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Rating</ion-label>
              <ion-input type="number" [(ngModel)]="rating" [ngModelOptions]="{standalone: true}" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item class="add-grid-text-area">
            <ion-textarea [(ngModel)]="description"
              rows={6} cols={20}
              [ngModelOptions]="{standalone: true}"
               placeholder="Enter any notes here..."
               required
                ></ion-textarea>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Upload Image
            <ion-icon name="cloud-upload-outline" (click)="uploadImage()"></ion-icon>
          </ion-item>
        </ion-row>
      </ion-grid>
    </form>
    <ion-button
     class="add-room" 
     [disabled]="!roomForm.valid"
     (click)="addRoom()">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      Add Room
    </ion-button>
  </div>
</ion-header>
<ion-content>
  <div class="ion-column">
    <ion-grid>
      <div class="booking-header">Available</div>
      <ion-row style="height: 60%">
        <ion-col
          sizeLg="2"
          sizeMd="4"
          sizeXs="12"
          *ngFor="let room of availableRooms"
        >
          <ion-card style="width: 100%">
            <ion-item>
              <h2>Room {{room.number}}</h2>
            </ion-item>
            <img src="assets/img/hotels/{{room.imageName}}" />
            <ion-card-content>
              <p>{{room.description}}</p>
              <br />
              <p>Room Type: {{room.roomType}}</p>
              <br />
              <p>{{room.price | currency: 'R'}}</p>
            </ion-card-content>
            <ion-row class="rating-warapper">
              <ion-col  
              *ngFor="let item of [].constructor(room.rating)">
                <ion-icon name="star"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="user.userType === 'guest'">
                <ion-button (click)="showBookingForm(room)">
                  <div>Book Now!</div>
                </ion-button>
              </ion-col>
              <ion-col *ngIf="user.userType === 'owner'">
                <ion-button (click)="removeRoom(room)">
                  <ion-icon name="trash-outline"></ion-icon>
                  <div>Remove Room</div>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="room.showBookingForm">
              <ion-col>
                <ion-item color="none">
                  <ion-label position="floating">Start Date</ion-label>
                  <ion-datetime
                    [(ngModel)]="room.startDate"
                    value="2020-10-26"
                    placeholder="Select Date"
                  ></ion-datetime>

                  <ion-label position="floating">End Date</ion-label>
                  <ion-datetime
                    value="2020-10-26"
                    [(ngModel)]="room.endDate"
                    placeholder="Select Date"
                  ></ion-datetime>
                  <br />
                  <ion-button (click)="processBooking(room)">
                    <div>Submit</div>
                  </ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <div class="booking-header">Booked</div>
      <ion-row style="height: 60%">
        <ion-col
          sizeLg="2"
          sizeMd="4"
          sizeXs="12"
          *ngFor="let room of bookedRooms"
        >
          <ion-card style="width: 100%">
            <ion-item>
              <h2>Room {{room.number}}</h2>
            </ion-item>
            <img src="assets/img/hotels/{{room.imageName}}" />
            <ion-card-content>
              <p>{{room.description}}</p>
            </ion-card-content>
            <ion-row class="rating-warapper">
              <ion-col  
              *ngFor="let item of [].constructor(room.rating)">
                <ion-icon name="star"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Booked From {{room.startDate | date}} to {{room.endDate | date}}
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-fab *ngIf="user.userType === 'owner'" vertical="top" horizontal="end" slot="fixed"> 
  <ion-fab-button (click)="toggleRoomForm()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
